{% extends "base.html.twig" %}
{% block content %}
    <style>
        ul li{
            width: 50%;//helps to determine number of columns, for instance 33.3% displays 3 columns
        }
        ul{
            list-style-type: disc;
        }

    </style>
    <h1>Template namen</h1>
<ul>

    {% for item in templates %}
        <li>
            <p>{{ item.name }}</p>
            <p>{{ item.description }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
