{% extends "base.html.twig" %}
{% block content %}
    <style>

        #display{
            list-style-type: disc;
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }

    </style>

    <h1>Beschikbaarde stages</h1>
    <ul class="list list--card list--card-small" id="display">
        {% for job in baan %}
            <li class="card card--small">
                <a href="{{ path('app_mark_baan', {id: job.id}) }}" class="card__content">
                    <div class="card__body">
                        <span class="card__title"> {{ job.name|capitalize }} </span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
