{% extends "base.html.twig" %}
{% block content %}
    <style>

        #display{
            list-style-type: disc;
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
        }

    </style>
    <h1>Nieuws gesorteerd op datum aflopend</h1>
    <ul class="list list--card list--card-small" id="display">
        {% for nieuws in templates %}
            <li class="card card--small">
                <a href="{{ path('app_mark_nieuw', {id: nieuws.id}) }}" class="card__content">
                    <div class="card__body">
                        <span class="card__title"> {{ nieuws.title|capitalize }} </span>
                        <p class="paragraph--s"> {{ nieuws.description }} </p><p class="paragraph--s"> {{ nieuws.dateCreated }}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
